body {
	margin: 0;
	padding: 0;
	background: black;
}

p {
	font-size: 8px;
	line-height: 8px;
	text-align: justify;

	background-image: url("bg.jpg");
  	background-repeat: no-repeat;
  	background-size: contain;

  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
